sudo: required

services:
  - docker

language: python

python:
  - 3.7

cache: pip

env:
  - PIPENV_IGNORE_VIRTUALENVS=1

install:
  - pip install -U pip wheel
  - make requirements
  - bash \{\{\ cookiecutter.project_slug\ \}\}/.travis/install_terraform.sh

script:
  - make test
  - make test-static
  - make down
