[run]
branch=True
data_file=test_output/.coverage
source={{ cookiecutter.project_slug }}
omit =
    {{ cookiecutter.project_slug }}/settings*
    {{ cookiecutter.project_slug }}/conf*
    *conftest.py
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*

[xml]
output=test_output/coverage.xml
