version: "3"
services:
  db:
    container_name: {{ cookiecutter.project_slug }}.db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB={{ cookiecutter.project_slug }}
    image: postgres:11.1-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
  app:
    links:
      - db
    environment:
      - DEBUG=true
      - SECRET_KEY=replace-me
      - DATABASE_URL=psql://postgres:postgres@{{ cookiecutter.project_slug }}.db:5432/{{ cookiecutter.project_slug }}?connect_timeout=60
      - GUNICORN_CMD_ARGS=--workers=2 --worker-class=gevent --bind=0.0.0.0:8000 --reload
    ports:
      # This port is primarily exposed for debugging. Use the web service's port to properly access the service.
      - 8000:8000
    volumes:
      - .:/app/{{ cookiecutter.project_slug }}
volumes:
  db-data:
